<template>
  <div class="home">
    <v-container>
      <h1>Visage Profile Exercise</h1>
      <h2>/Profile</h2>
      <p>List of all profiles entered</p>
      <h2>/Submit Profile</h2>
      <p>Form to enter à profile.</p>
      <p>Only 5 resumes allowed</p>
      <p>One resume can't exceed 2mo</p>
    </v-container>
  </div>
</template>

<script>
export default {};
</script>
