<template>
  <div class="profiles">
    <v-simple-table>
      <template v-slot:default>
        <thead>
          <tr>
            <th class="text-left">
              FirstName
            </th>
            <th class="text-left">
              LastName
            </th>
            <th class="text-left resume">
              Resumes
            </th>
            <th class="text-left resume">
              Creation Date
            </th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="profile in profiles" :key="profile.id">
            <td>{{ profile.firstName }}</td>
            <td>{{ profile.lastName }}</td>
            <td class="resume">
              <v-tooltip
                v-for="resume in profile.resumes"
                :key="resume.id"
                bottom
              >
                <template v-slot:activator="{ on, attrs }">
                  <v-btn
                    v-bind="attrs"
                    v-on="on"
                    class="mx-2"
                    fab
                    dark
                    x-small
                    color="primary"
                    @click.prevent="
                      downloadFile(resume.filePath, resume.fileName)
                    "
                  >
                    <v-icon dark>
                      mdi-download
                    </v-icon>
                  </v-btn>
                </template>
                <span>{{ resume.fileName }}</span>
              </v-tooltip>
            </td>
            <td>{{ profile.createdAt | formatDate }}</td>
          </tr>
        </tbody>
      </template>
    </v-simple-table>
  </div>
</template>

<script>
import { useGetProfiles } from "@/composition/profile/getProfiles";
import { downloadFile } from "@/composition/file/downloadFile";

export default {
  setup(props, { root }) {
    const [profiles, getProfiles] = useGetProfiles();

    getProfiles().catch(() => {
      root.$toast.error("Error while fetching profiles");
    });

    return { profiles, downloadFile };
  }
};
</script>

<style lang="scss" scoped>
.profiles {
  padding: 10px;

  .resume {
    width: 15%;
  }
}
</style>
