<template>
  <div class="submit-profile mt-5">
    <v-card class="mx-auto" outline max-width="500">
      <v-card-title>
        <span class="headline">User Profile</span>
      </v-card-title>
      <v-card-text>
        <v-container>
          <v-row>
            <v-col cols="12" sm="6" md="6">
              <v-text-field
                v-model="firstName"
                label="First Name*"
                required
                :error-messages="firstNameError"
                @input="$v.firstName.$touch()"
                @blur="$v.firstName.$touch()"
              ></v-text-field>
            </v-col>
            <v-col cols="12" sm="6" md="6">
              <v-text-field
                v-model="lastName"
                label="Last name*"
                required
                :error-messages="lastNameError"
                @input="$v.lastName.$touch()"
                @blur="$v.lastName.$touch()"
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="12" sm="12" md="12">
              <v-file-input
                v-model="resumes"
                accept="application/pdf"
                label="Your Resume*"
                chips
                multiple
                :error-messages="resumesError"
                @input="$v.resumes.$touch()"
                @blur="$v.resumes.$touch()"
              ></v-file-input>
            </v-col>
          </v-row>
        </v-container>
        <small>*indicates required field</small>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="blue darken-1" text @click="resetProfile()">Reset</v-btn>
        <v-btn color="blue darken-1" text @click="submit()">Submit</v-btn>
      </v-card-actions>
    </v-card>
  </div>
</template>

<script>
import { useProfileForm } from "@/composition/profile/profileForm";

export default {
  // eslint-disable-next-line no-unused-vars
  setup(props, { root }) {
    const {
      firstName,
      lastName,
      resumes,
      $v,
      sendProfile,
      resetProfile,
      firstNameError,
      lastNameError,
      resumesError
    } = useProfileForm();

    const submit = () => {
      $v.value.$touch();
      if ($v.value.$errors.length > 0) {
        root.$toast.error("Your form is incorrect");
      } else {
        sendProfile()
          .then(() => {
            root.$toast.success("Profiles submited with success");
            resetProfile();
          })
          .catch(errors => {
            errors.forEach(error => {
              root.$toast.error(error.message);
            });
          });
      }
    };

    return {
      firstName,
      lastName,
      resumes,
      submit,
      resetProfile,
      $v,
      firstNameError,
      lastNameError,
      resumesError
    };
  }
};
</script>
